@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

nav {
    z-index: 10
}

nav.scrolled {
    @apply shadow-2xl;
    border-bottom: 0px;
}

@media (min-width: 550px ) {
    .min-h-home-lg {
        min-height: 75vh;
    }
}

